APP_PORT=8080
POSTGRES_DB=homesoc
POSTGRES_USER=homesoc
POSTGRES_PASSWORD=replace-with-a-local-development-password
ATTACKER_SOURCE_IP=192.168.0.14
ATTACKER_SOURCE_MAC=AA:BB:CC:05
ATTACKER_VENDOR=IoT Camera
